In [8]:
import pandas as pd

fin = pd.read_csv("Dataframe_practice.csv", index_col="매출액")
fin

          2019.12  2020.03  2020.06  2020.09  2020.12
매출액
대한해운       2500.0   2307.0   2108.0   2204.0   2222.0
팬오션        6187.0   5588.0   6834.0   6344.0   6205.0
KSS해운       617.0    618.0    524.0    574.0    546.0
에스엘바이오닉스     32.0     67.0     67.0     86.0     66.0
오성첨단소재      191.0    188.0    208.0    216.0    184.0
에이아이비트       90.0     91.0     59.0     86.0     57.0

**↑ 불러올 때 index_col = "XX" 으로 인덱스 지정 가능**

**↓ 인덱스 지정 됐는지 확인**

In [10]:
fin.index

Index(['대한해운', '팬오션', 'KSS해운', '에스엘바이오닉스', '오성첨단소재', '에이아이비트'], dtype='object', name='매출액')

**↓ 지정한 칼럼(시리즈로)에서 오름차순 정렬**

In [12]:
fin['2019.12'].sort_values()

매출액
에스엘바이오닉스      32.0
에이아이비트        90.0
오성첨단소재       191.0
KSS해운        617.0
대한해운        2500.0
팬오션         6187.0
Name: 2019.12, dtype: float64

**↓ 내림차순 정렬**

In [13]:
fin['2019.12'].sort_values(ascending = False)

매출액
팬오션         6187.0
대한해운        2500.0
KSS해운        617.0
오성첨단소재       191.0
에이아이비트        90.0
에스엘바이오닉스      32.0
Name: 2019.12, dtype: float64

**↓ 전체 데이터에서 해당 칼럼 기준 정렬**

In [16]:
fin.sort_values(by="2020.03", ascending = False)

          2019.12  2020.03  2020.06  2020.09  2020.12
매출액
팬오션        6187.0   5588.0   6834.0   6344.0   6205.0
대한해운       2500.0   2307.0   2108.0   2204.0   2222.0
KSS해운       617.0    618.0    524.0    574.0    546.0
오성첨단소재      191.0    188.0    208.0    216.0    184.0
에이아이비트       90.0     91.0     59.0     86.0     57.0
에스엘바이오닉스     32.0     67.0     67.0     86.0     66.0

**↓ 정렬 기준을 여러개 설정**

In [20]:
fin.sort_values(by=["2019.12","2020.12"], ascending = False)

          2019.12  2020.03  2020.06  2020.09  2020.12
매출액
팬오션        6187.0   5588.0   6834.0   6344.0   6205.0
대한해운       2500.0   2307.0   2108.0   2204.0   2222.0
KSS해운       617.0    618.0    524.0    574.0    546.0
오성첨단소재      191.0    188.0    208.0    216.0    184.0
에이아이비트       90.0     91.0     59.0     86.0     57.0
에스엘바이오닉스     32.0     67.0     67.0     86.0     66.0

## <span style ="color:blue">  결측치

**우선 결측치 만들고**

In [24]:
import numpy as np
fin2 = fin.replace(208, np.nan)
fin2

          2019.12  2020.03  2020.06  2020.09  2020.12
매출액
대한해운       2500.0   2307.0   2108.0   2204.0   2222.0
팬오션        6187.0   5588.0   6834.0   6344.0   6205.0
KSS해운       617.0    618.0    524.0    574.0    546.0
에스엘바이오닉스     32.0     67.0     67.0     86.0     66.0
오성첨단소재      191.0    188.0      NaN    216.0    184.0
에이아이비트       90.0     91.0     59.0     86.0     57.0

**.fillna(value = )로 결측치 처리, inplace = True는 실제 데이터프레임에 적용시키겠다 (없으면 출력할 때만 보이고 실제 데이터가 변경되진 않음)**

In [28]:
fin2.fillna(value = 0, inplace = True)
fin2

          2019.12  2020.03  2020.06  2020.09  2020.12
매출액
대한해운       2500.0   2307.0   2108.0   2204.0   2222.0
팬오션        6187.0   5588.0   6834.0   6344.0   6205.0
KSS해운       617.0    618.0    524.0    574.0    546.0
에스엘바이오닉스     32.0     67.0     67.0     86.0     66.0
오성첨단소재      191.0    188.0      0.0    216.0    184.0
에이아이비트       90.0     91.0     59.0     86.0     57.0

### <span style="color:blue"> Count

In [31]:
fin.count()

2019.12    6
2020.03    6
2020.06    6
2020.09    6
2020.12    6
dtype: int64

**기본은 열(칼럼) 기준으로 확인(axis=0), 행별로 확인하려면 axis=1 추가**

**결측치가 있는 경우 카운트 안됨**

In [33]:
fin.count(axis=1)

매출액
대한해운        5
팬오션         5
KSS해운       5
에스엘바이오닉스    5
오성첨단소재      5
에이아이비트      5
dtype: int64

### <span style="color:blue"> value_counts 함수
**값이 숫자, 문자열, 카테고리 값인 경우에 각각의 값이 나온 횟수를 셀 수 있다.**

In [37]:
s2 = pd.Series(np.random.randint(6, size = 100))
s2

0     0
1     5
2     4
3     4
4     5
     ..
95    0
96    3
97    5
98    5
99    4
Length: 100, dtype: int32

In [45]:
s2.value_counts()

5    22
4    19
2    18
0    16
3    15
1    10
dtype: int64

In [48]:
fin["2019.12"].value_counts()

90.0      1
191.0     1
32.0      1
617.0     1
6187.0    1
2500.0    1
Name: 2019.12, dtype: int64

**카테고리컬(categorical)한 데이터가 아닌 경우, 빈도수를 확인하는 것이 무의미 할 수 있다**

**위의 매출액과 같이 데이터는 많은데 같은 데이터가 하나도 없을 수 있음**