### <span style="color:blue"> Series 연산

**- 각 요소에 전부 연산 적용됨**

In [1]:
import pandas as pd

pp = pd.Series([9904312, 3448737, 2890451, 2466052], index = ["서울", "부산", "인천", "대구"])
pp.name = "인구수"
pp.index.name = "도시"

pp/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구수, dtype: float64

### <span style="color:blue"> Series 인덱싱

**변수명[순서 혹은 인덱스 이름]**

**↓ 대괄호[ ] 하나만 할 경우, 값만 가져온다**

In [3]:
pp[1]

3448737

In [4]:
pp["부산"]

3448737

In [5]:
pp[1],pp["대구"]

(3448737, 2466052)

**↓ 대괄호 두 개 [[ ]] 로 감싸주면, Series 형태로 출력**

In [7]:
pp[[1]]

도시
부산    3448737
Name: 인구수, dtype: int64

In [8]:
pp[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구수, dtype: int64

### <span style="color:blue"> Series Boolean 인덱싱

**Boolean 불린형 인덱싱이란 비교연산 자체가 아니라, 비교연산 후 참/거짓 데이터를 이용해 인덱싱 하는것**

**↓ 아래처럼 우선 비교 연산한 후에,**

In [9]:
pp >= 2500000

도시
서울     True
부산     True
인천     True
대구    False
Name: 인구수, dtype: bool

**↓ 참 / 거짓에 해당하는 데이터만 가져오는것 = 불린형 색인 Boolean Indexing**

In [10]:
pp[pp>=2500000]

도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구수, dtype: int64

In [13]:
pp[(pp>=2500000) & (pp<=5000000)] # and

도시
부산    3448737
인천    2890451
Name: 인구수, dtype: int64

In [14]:
pp[(pp<=2500000) | (pp>=5000000)] # or

도시
서울    9904312
대구    2466052
Name: 인구수, dtype: int64

### <span style="color:blue"> Series 슬라이싱

**↓ 2~3 번째 데이터만 출력**

In [15]:
pp[1:3]

도시
부산    3448737
인천    2890451
Name: 인구수, dtype: int64

**↓ 부산 ~ 대구까지의 데이터 출력**

In [16]:
pp["부산" : "대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구수, dtype: int64