# Pandas 모듈


**Series Class : 1차원**
 - 인덱스(Index) + 값(Value)

**DataFrame Class : 2차원**
 - 표와 같은 형태

### <span style="color:blue"> Pandas 사용하기

In [1]:
import pandas as pd

## <span style="color:blue">  Series Class

### Series Class 생성하기

In [2]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

**↑인덱스(index) 0 ~ 3 부분과 값(value) 부분으로 표현됨**

**Numpy는 인덱스 부분이 보이지 않음**

### 인덱스 지정하여 생성하기

In [5]:
obj2 = pd.Series([4,7,-5,3], index=["d","b","a","c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

### Series 값 확인

In [6]:
obj2.values

array([ 4,  7, -5,  3], dtype=int64)

**Numpy 배열 형태로 들어가게됨**

**Numpy에서 사용했던 연산도 동일하게 사용 가능**

### Series 인덱스, 타입 확인

In [7]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [8]:
obj2.dtype

dtype('int64')

### 연습하기
**각 도시별 인구수**

In [9]:
pp = pd.Series([9904312, 3448737, 2890451, 2466052], index = ["서울", "부산", "인천", "대구"])
pp

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

### Series에 이름 지정

In [10]:
pp.name = "인구수"
pp.index.name = "도시"
pp

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구수, dtype: int64